extends layout

block content
  h1= title
  p Product hinzufügen:
  form(action='/carbs', method='post')
    label(for='brand') Hersteller:
    input(type='text', name='brand', id='brand')
    label(for='type') Art:
    input(type='text', name='type', id='type')
    label(for='description') Bezeichnung:
    input(type='text', name='description', id='description')
    label(for='be') BE:
    input(type='text', name='be', id='be', value='')
    label(for='ke') kE:
    input(type='text', name='ke', id='ke', value='')
    input(type='submit')
