<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh_koeln.gellert_holter.dms" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".activities.ActivityCommunicationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ClientServerCommunicationActivity"
            android:label="@string/title_activity_client_server_communication"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DataStorageActivity"
            android:label="@string/title_activity_data_storage"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fh_koeln.gellert_holter.dms.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ActivityCommunicationActivity"
            android:label="@string/title_activity_activity_communication"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fh_koeln.gellert_holter.dms.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.InsulinCalculatorActivity"
            android:label="Insulin Calculator"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fh_koeln.gellert_holter.dms.activities.MainActivity" />
        </activity>
    </application>

</manifest>
